* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #ffffff;
        padding: 1px 5px;
}
#workspaces,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth,
#custom-gpu0,
#custom-gpu1,
#custom-temps,
#custom-power,
#custom-media,
#power-profiles-daemon,
#mode,
#scratchpad,
#tray {
    margin: 5px 0;
    padding: 1px 5px;
}
#clock {
   background-color: rgba(146, 146, 146, 0.753);
    color: #ffffff;
}
#custom-gpu0 {
    background-color: rgba(237, 28, 36, 0.75); /* AMD red */
    color: #ffffff;

    border-radius: 3px;
}
#custom-temps {
    background-color: rgba(146, 146, 146, 0.753);
}
#custom-gpu1 {
    background-color: rgba(0, 113, 197, 0.75); /* Intel blue */
    border-radius: 3px;
}
window#waybar {
    /* background-color: rgb(0, 5, 34);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    background: rgb(0, 33, 86);;
    transition-property: background-color;
    transition-duration: .5s;

}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/
#bluetooth {
    color: #ffffff;
    background-color: #636bfa;
}

#bluetooth.connected {
    color: #ffffff;
}

#bluetooth.disabled {
    color: #ffffff;
    background-color: #b80707;
}
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(146, 146, 146, 0.897);
}

#workspaces button {        /* more padding = easier to see */
    background-color: rgba(100, 114, 125, 0.6);
    color: #ffffff;
    border-radius: 4px;
}



#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused, 
#workspaces button.active {
    background-color: rgba(100, 114, 125, 0.9);
    box-shadow: inset 0 -3px #ffffff;
    color: #ffffff;
    font-weight: bold;
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background-color: rgba(146, 146, 146, 0.753);
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-power {
    color: #ffffff;
    border-radius: 8px;
    margin-right: 15px; /* FORCE right side spacing */

    margin-left: 15px; /* FORCE left side spacing */
}
#power-profiles-daemon.performance {
     background-color: rgb(241, 21, 21);
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
   background-color: rgba(146, 146, 146, 0.753);
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    transition-property: background-color, color;
    transition-duration: .5s;
    background-color: rgba(146, 146, 146, 0.753);
    color: #000000;
}

#pulseaudio.muted {
    background-color: rgba(146, 146, 146, 0.753);
    color: #2a5c45;
}

#wireplumber {
    background-color: rgba(146, 146, 146, 0.753);
    color: #000000;
}

#wireplumber.muted {
    background-color: rgba(146, 146, 146, 0.753);
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


