#custom-hello-kitty {
  min-width: 24px;
  min-height: 24px;
  background-image: url("file:///home/shaeel/.config/waybar/frames/frame_004.png?ts=1785683238708340649");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
